In [1]:
import pandas as pd
import numpy as np
from PIL import Image
from matplotlib.pyplot import imshow

df = pd.read_csv("train.csv")

In [2]:
from sklearn.model_selection import train_test_split
label = df.values[:,1]
im_tr = df.values[:,2:]
X_train, X_test, y_train, y_test = train_test_split(im_tr, label, test_size=0.3,random_state=109)

In [3]:
from sklearn import svm

In [4]:
clf=svm.SVC(kernel='linear')
clf.fit(X_train,y_train)

SVC(kernel='linear')

In [5]:
y_pred = clf.predict(X_test)

In [6]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9977777777777778

In [10]:
test_db=pd.read_csv("test.csv")
test_im = test_db.values[:,1:]

In [13]:
sub = clf.predict(test_im)

In [16]:
ids=test_db.values[:,0]

In [17]:
data = {'imageId': ids,
        'label': sub
        }

mySubmission = pd.DataFrame(data)

print (mySubmission)

     imageId  label
0       3000     14
1       3001     10
2       3002     14
3       3003      5
4       3004      7
..       ...    ...
994     3994      3
995     3995      3
996     3996     11
997     3997      5
998     3998      8

[999 rows x 2 columns]

In [51]:
import csv

with open('mySub.csv', 'w') as myfile:
    wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
    wr.writerow(["id", "label"])
    for i in range(999):
        wr.writerow(mySubmission.values[i])

In [52]:

d = pd.read_csv("mySub.csv")
d.head()

     id  label
0  3000     14
1  3001     10
2  3002     14
3  3003      5
4  3004      7